@import "./Variables";

// background: linear-gradient(#1f1f21, #000);
// https://wallbox.ru/wallpapers/main2/201717/oblaka-noc-gory-gorizont-panorama.jpg
// https://images.wallpaperscraft.ru/image/single/gory_derevia_nebo_115591_1920x1080.jpg
* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}
// $f1: "Playfair Display";
// $f2: "Montserrat";
// $f3: "Aref Ruqa";
html {
    font-size: 10px;
    overflow-x: hidden;
}

body {
    position: relative;
    max-width: 1920px;
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background: url(https://wallbox.ru/wallpapers/main2/201717/oblaka-noc-gory-gorizont-panorama.jpg);
    background-size: cover;
    font-family: $f2;
    color: aliceblue;
    z-index: 0;
}
